### Import the necessary libraries

In [1]:
import numpy as np
import pandas as pd

### Import the dataset from this address and assign it to a variable called drinks.

In [2]:
drinks=pd.read_csv("D:/Internship/Projects/drinks.csv")

In [3]:
drinks.head()

,Unnamed: 0,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,0,Afghanistan,0,0,0,0.0,AS
1,1,Albania,89,132,54,4.9,EU
2,2,Algeria,25,0,14,0.7,AF
3,3,Andorra,245,138,312,12.4,EU
4,4,Angola,217,57,45,5.9,AF

### Which continent drinks more beer on average?

In [4]:
drinks=drinks.sort_values('beer_servings')
drinks.iloc[-1,5]

6.8

### For each continent print the statistics for wine consumption.

In [5]:
x=drinks.groupby(['continent'])['wine_servings'].sum()
x=x.reset_index()
x

  continent  wine_servings
0        AF            862
1        AS            399
2        EU           6400
3        OC            570
4        SA            749

### Print the mean alcohol consumption per continent for every column.

In [6]:
x=drinks.groupby(['continent'])['total_litres_of_pure_alcohol'].mean()
x=x.reset_index()
x

  continent  total_litres_of_pure_alcohol
0        AF                      3.007547
1        AS                      2.170455
2        EU                      8.617778
3        OC                      3.381250
4        SA                      6.308333

### Print the median alcohol consumption per continent for every column.

In [7]:
x=drinks.groupby(['continent'])['total_litres_of_pure_alcohol'].median()
x=x.reset_index()
x

  continent  total_litres_of_pure_alcohol
0        AF                          2.30
1        AS                          1.20
2        EU                         10.00
3        OC                          1.75
4        SA                          6.85

### Print the mean, min and max values for spirit consumption.

In [8]:
x=drinks.sort_values(['spirit_servings'])

In [9]:
x['spirit_servings'].min()

0

In [10]:
x['spirit_servings'].max()

438

In [11]:
x['spirit_servings'].mean()

80.99481865284974